<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= current_page.data.description || data.site.description %>">

  <link rel="canonical" href="<%= config[:host] + current_page.url %>">
  <link rel="alternate" type="application/rss+xml" title="<%= data.site.title %>" href="<%= config[:host] + '/feed.xml' %>" >
  <title><%= current_page.data.title || data.site.title_default %> | <%= data.site.title %></title>

  <%= stylesheet_link_tag :site %>
  <%= javascript_include_tag :all %>

  <%= partial '_partials/favicon' %>
</head>
