<head>
  <meta charset="utf-8">
  <script async src="https://cdn.ampproject.org/v0.js"></script>

  <title><%= current_page.data.title || data.site.title_default %> | <%= data.site.title %></title>

  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <meta name="description" content="<%= current_page.data.description || data.site.description %>">

  <link rel="canonical" href="<%= config[:host] + current_page.url %>">
  <link rel="alternate" type="application/rss+xml" title="<%= data.site.title %>" href="<%= config[:host] + '/feed.xml' %>" >

  <%= partial '_partials/amp_style_boilerplate' %>
  <%= amp_style 'site.css' %>
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans:300,400,400i,700" rel="stylesheet">

  <% javascript_include_tag :all %>
  <% partial '_partials/favicon' %>
</head>
