<% blog = {title: 'JavaScript Game Development — Where to Start?', link: 'https://medium.com/@VadimBrodsky/javascript-game-development-where-to-start-5bdc097cbd6e#.dy9u2k4js', date: 'Mar 5 2016', date_raw: '2016-03-05', tags: ['JavaScript', 'Web Development', 'Game Development']} %>

<section class="section__blog">
  <div class="section__content text__center">
    <h2 class="section__header"><%= data.blog.header %></h2>
    <ul class="blog__posts">
      <% data.blog.number_of_posts_on_homepage.times do %>
      <li>
        <article class="grid blog__post">
        <div class="grid__col grid__col--1-of-4 blog__date">
          <time datetime="<%= blog[:date_raw] %>" pubdate=""><%= blog[:date] %></time>
        </div>
        <div class="grid__col grid__col--3-of-4">
          <h2 class="blog__post-title">
            <a href="<%= blog[:link] %>" target="_blank">
              <%= blog[:title] %>
            </a>
          </h2>
          <footer>
            <ul class="blog__tags">
              <li><a href="#!">#<%= blog[:tags][0] %></a></li>
              <li><a href="#!">#<%= blog[:tags][1] %></a></li>
              <li><a href="#!">#<%= blog[:tags][2] %></a></li>
            </ul>
          </footer>
        </div>
        </article>
      </li>
    <% end %>
    </ul>
  </div>
</section>
