<section class="section__projects">
  <div class="section__content">
    <div class="grid">
      <div class="grid__col grid__col--2-of-6">
        <h2 class="section__header"><%= data.projects.header %></h2>
        <p><%= data.projects.lead %></p>
      </div>
      <div class="grid__col grid__col--4-of-6 projects__wrap">
        <ul class="grid">
          <% data.projects.projects.first(data.projects.number_of_projects_on_homepage).each do |project| %>
            <li class="grid__col grid__col--1-of-3 projects__item">
              <span class="projects__technology"><%= project[:tech] %></span>
              <h3 class="projects__title"><%= project[:title] %></h3>
              <p class="projects__description"><%= project[:description] %></p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
