<section class="section__blog">
  <div class="section__content text__center">
    <h2 class="section__header"><%= data.blog.header %></h2>
    <ul class="blog__posts">
      <% data.blog.number_of_posts_on_homepage.times do %>
      <li>
        <article class="grid blog__post">
        <div class="grid__col grid__col--1-of-4 blog__date">
          <time datetime="<%= lorem.date %>" pubdate=""><%= lorem.date %></time>
        </div>
        <div class="grid__col grid__col--3-of-4">
          <h2 class="blog__post-title">
            <a href="#"> <%= lorem.sentence %> </a>
          </h2>
          <footer>
            <ul class="blog__tags">
              <li><a href="#">#<%= lorem.word %></a></li>
              <li><a href="#">#<%= lorem.word %></a></li>
              <li><a href="#">#<%= lorem.word %></a></li>
            </ul>
          </footer>
        </div>
        </article>
      </li>
    <% end %>
    </ul>
  </div>
</section>
