<section class="section__blog">
  <div class="section__content text__center">
    <h2 class="section__header"><%= data.blog.header %></h2>
    <ul class="blog__posts">
      <% data.blog.articles.each do |article| %>
      <li>
        <article class="grid blog__post">
        <div class="grid__col grid__col--1-of-4 blog__date">
          <time datetime="<%= article.date_raw %>" pubdate=""><%= article.date %></time>
        </div>
        <div class="grid__col grid__col--3-of-4">
          <h2 class="blog__post-title">
            <a href="<%= article.link %>" target="_blank">
              <%= article.title %>
            </a>
          </h2>
          <footer>
            <ul class="blog__tags">
              <% article.tags.each do |tag| %>
              <li>#<%= tag %>&nbsp;</li>
              <% end %>
            </ul>
          </footer>
        </div>
        </article>
      </li>
    <% end %>
    </ul>
  </div>
</section>
