<!doctype html>
<html amp lang="en">
  <%= partial '_partials/head' %>
  <body class="<%= page_classes %> page__body">

    <%= partial '_partials/navigation' %>
    <main role="main" class="page__wrap">
      <%= yield %>
    </main>
    <%= partial '_partials/footer' %>
    <% partial '_partials/analytics' %>

  </body>
</html>
