---
title: About Vadim
---

<section class="section__masthead grid grid--no-gutter">
  <div class="grid__col grid__col--2-of-2">
      <%= image_tag 'vadim-wall-portrait.jpg', class: 'media__full' %>
  </div>
  <div class="grid__col grid__col--1-of-2 grid__col--centered">
    <div class="section__content">
    <p class="text__medium text__large">
    I am a web professional with over 8 years design and 4 years of development experience. I am passionate about the enabling power of technology and the human sensitivities of design.
    </p>
    </div>
  </div>
</section>


<section class="section__bio grid grid--no-gutter">
  <div class="grid__col grid__col--1-of-2 grid__col--centered">
    <div class="section__content">
      <h2 class="section__header">My Journey</h2>
      <p><%= lorem.paragraphs 2 %></p>
    </div>
  </div>
  <div class="grid__col grid__col--2-of-2">
    <%= image_tag 'journey-map.jpg', class: 'media__full' %>
  </div>
</section>


<section class="section__history grid grid--no-gutter">
  <div class="grid__col grid__col--1-of-2">
    <div class="section__content">
      <h2 class="section__header">Love of Design</h2>
      <p><%= lorem.paragraphs 3 %></p>
    </div>
  </div>
  <div class="grid__col grid__col--1-of-2">
    <div class="section__content">
      <h2 class="section__header">Passion for Computing</h2>
      <p><%= lorem.paragraphs 3 %></p>
    </div>
  </div>
</section>


