---
title: Welcome to Middleman
---

<section class="grid section__intro">
  <div class="grid__col grid__col--2-of-2">
    <div class="section__content">
      <h2 class="text__large text__light">
        Hi, my name is <a href="">Vadim Brodsky</a>, I am a passionate Full–Stack Web Developer & Designer based in Kitchener-Waterloo. Currently a Partner / Digital Strategist at Crankworks Creative.
      </h2>
      <p class="text__medium">
        I take pride in creating digital experiences that solve problems and delight users. I am an avid tech enthusiast and geek, I love learning, tinkering and traveling.
      </p>
      <p class="text__medium">
        <a href="#">Read my blog,</a> <a href="">see my work</a> or <a href="">connect with me</a>.
      </p>
    </div>
  </div>
</section>

<section class="grid grid--no-gutter section__secondary">
  <div class="grid__col grid__col--1-of-2">
    <div class="section__content">
      <h2 class="section__header">Designer</h2>
      <p><%= lorem.paragraph %></p>
    </div>
  </div>
  <div class="grid__col grid__col--1-of-2">
    <div class="section__content">
      <h2 class="section__header">Developer</h2>
      <p><%= lorem.paragraph %></p>
    </div>
  </div>
</section>

<%= partial '_partials/homepage_blog' %>
<%= partial '_partials/homepage_portfolio' %>
<%= partial '_partials/homepage_projects' %>

