---
title: Welcome to Middleman
---


<section class="section__intro">
  <h2 class="text__large text__light"><%= lorem.paragraph %></h2>
  <p class="text__medium"><%= lorem.paragraph %></p>
  <p class="text__medium"><%= lorem.sentence %></p>
</section>


<section class="grid section__secondary">
  <div class="grid__col grid__col--1-of-2">
    <h2><%= lorem.words(2).titleize %></h2>
    <p><%= lorem.paragraph %></p>
  </div>
  <div class="grid__col grid__col--1-of-2">
    <h2><%= lorem.words(2).titleize %></h2>
    <p><%= lorem.paragraph %></p>
  </div>
</section>


<section class="section__blog">
  <h2><%= lorem.words(2).titleize %></h2>
  <ul>
    <% 5.times do %>
    <li>
      <article>
      <time datetime="<%= lorem.date %>" pubdate=""><%= lorem.date %></time>
      <h2><%= lorem.sentence %></h2>
      <footer>
        <ul>
          <li><a href="#"><%= lorem.word %></a></li>
          <li><a href="#"><%= lorem.word %></a></li>
          <li><a href="#"><%= lorem.word %></a></li>
        </ul>
      </footer>
      </article>
    </li>
  <% end %>
  </ul>
</section>


<section class="section__work">
  <h2><%= lorem.words(2).titleize %></h2>
</section>

<section class="section__projects">
  <h2><%= lorem.words(2).titleize %></h2>
</section>
