---
title: Welcome to Middleman
---

<section class="grid section__intro">
  <div class="grid__col grid__col--2-of-2">
    <div class="section__content">
      <h2 class="text__large text__light"><%= lorem.paragraph %></h2>
      <p class="text__medium"><%= lorem.paragraph %></p>
      <p class="text__medium"><%= lorem.sentence %></p>
    </div>
  </div>
</section>

<section class="grid grid--no-gutter section__secondary">
  <div class="grid__col grid__col--1-of-2">
    <div class="section__content">
      <h2 class="section__header"><%= lorem.words(2).titleize %></h2>
      <p><%= lorem.paragraph %></p>
    </div>
  </div>
  <div class="grid__col grid__col--1-of-2">
    <div class="section__content">
      <h2 class="section__header"><%= lorem.words(2).titleize %></h2>
      <p><%= lorem.paragraph %></p>
    </div>
  </div>
</section>

<%= partial '_partials/homepage_blog' %>
<%= partial '_partials/homepage_portfolio' %>
<%= partial '_partials/homepage_projects' %>

